<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{selectedPlace.title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <form>
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="text" ngModel name="first-name" required=""></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text" ngModel name="last-name" required=""></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Numbers of Guests</ion-label>
            <ion-select [ngModel]="2" name="guest-number">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <!-- <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">From</ion-label>
            <ion-datetime
              presentation="date"
            >
            </ion-datetime>
          </ion-item>
        </ion-col> -->
        <ion-col size-sm="3" offset-sm="3">
          <ion-item >
            <ion-label position="floating">From</ion-label>
            <ion-input value="{{dateValue || formatDate(startDate)}}" id="open-date-input-3"></ion-input>
            <ion-popover trigger="open-date-input-3" show-backdrop>
              <ng-template>
                <ion-datetime
                  [(ngModel)]="startDate"
                  #startDateCtrl="ngModel"
                  presentation="date"
                  (ionChange)="dateValue = formatDate(startDateCtrl.value)"
                  [min]="selectedPlace.availableFrom.toISOString()"
                  [max]="selectedPlace.availableTo.toISOString()"
                  name="date-from"
                  required
                >
                </ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3">
          <ion-item>
            <ion-label position="floating">To</ion-label>
            <ion-input value="{{dateValue2 || formatDate(endDate)}}"  id="open-date-input-2"></ion-input>
            <ion-popover trigger="open-date-input-2" show-backdrop>
              <ng-template>
                <ion-datetime
                  #popoverDatetime2
                  presentation="date"
                  (ionChange)="dateValue2 = formatDate(popoverDatetime2.value)"
                  [max]="selectedPlace.availableTo.toISOString()"
                  [(ngModel)]="endDate"
                  required
                >
                </ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Pick date</ion-label>
            <ion-input
              value="{{ startDate | date: 'dd.MM.yyyy' }}"
              id="date"
            ></ion-input>
            <ion-popover trigger="date" size="cover">
              <ng-template>
                <ion-datetime
                  presentation="date"
                  [(ngModel)]="startDate"
                  locale="sl-SI"
                ></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button color="primary" type="submit" expand="block">Book!</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
