<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{selectedPlace.title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <form (ngSubmit)="onBookPlace()" #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="text" ngModel name="first-name" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text" ngModel name="last-name" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Numbers of Guests</ion-label>
            <ion-select [ngModel]="2" name="guest-number">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item >
            <ion-label position="floating">From</ion-label>
            <ion-input
              value="{{startDate | date: 'MMM dd yyyy'}}"
              id="open-date-input-from"
              ngModel
              name="date-input-from"
              required
            ></ion-input>
            <ion-popover trigger="open-date-input-from" show-backdrop>
              <ng-template>
                <ion-datetime
                  [(ngModel)]="startDate"
                  name="date-from"
                  presentation="date"
                  [min]="selectedPlace.availableFrom.toISOString()"
                  [max]="selectedPlace.availableTo.toISOString()"
                >
                </ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item >
            <ion-label position="floating">To</ion-label>
            <ion-input
              value="{{endDate | date: 'MMM dd yyyy'}}"
              id="open-date-input-to"
              ngModel
              name="date-input-to"
              required
            ></ion-input>
            <ion-popover trigger="open-date-input-to" show-backdrop>
              <ng-template>
                <ion-datetime
                  [(ngModel)]="endDate"
                  name="date-to"
                  presentation="date"
                  [min]="startDate"
                  [max]="selectedPlace.availableTo.toISOString()"
                >
                </ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button color="primary" type="submit" expand="block" [disabled]="!f.valid" >Book!</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
